# Use the same values as in postgresql.env file
SENTRY_DB_USER=sentry
SENTRY_DB_PASSWORD=password
SENTRY_DB_NAME=sentryhq_production

# Use the same values as in postfix.env file
SENTRY_SERVER_EMAIL=sentry@mail.example.com
SENTRY_EMAIL_HOST=postfix
SENTRY_EMAIL_USER=user
SENTRY_EMAIL_PASSWORD=pwd
SENTRY_EMAIL_PORT=25

SENTRY_REDIS_HOST=redis
SENTRY_POSTGRES_HOST=postgres
